body {
    font-family: montserrat, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/celestial-background.svg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin-top: 10px;
}

    header h1 {
        font-size: 24px;
    }
    header p {
        font-size: 20px;
    }

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    border: 1px solid #00F0FF;
    background-color: #000000;
}

ul a {
    color: #00F0FF;
    text-decoration: none;
    padding: 10px 18px;
    display : block;
}
table {
    width: 80%;
    margin:30px auto;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding:18px;
    border: 1px solid #00F0FF;
    color: #00F0FF;
    background-color: #000000;
}

footer {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {

    ul {
        flex-direction: column;
        gap: 10px;
    }

    header h1 {
        font-size: 18px;
    }

    section img {
        max-width: 100%;
        height: auto;
    }

    footer form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

}